<div class="row">
  <div class="span4 offset4">
    <%= render :partial => "raports", :locals => {:raports => @raports}%>
  </div>  
  <div class="span2 offset2">
    <%= @sensorL.sensor_name %> : <%= @sensorL.value %> <br/>
    <%= @sensorT.sensor_name %> : <%= @sensorT.value %>
  </div>
