<div class="row">
  <div class="span4 offset4">
<table class="table" id="raports" >
      <thead>
        <tr>
          <th>Raport body</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <%= render @raports %>
        <%= will_paginate @raports, :param_name => 'raport_page', :renderer => BootstrapPagination::Rails %>
      </tbody>  
    </table>
  </div>  
  <div class="span2 offset2">
    <%= @sensorL.sensor_name %> : <%= @sensorL.value %> <br/>
    <%= @sensorT.sensor_name %> : <%= @sensorT.value %>
  </div>
