<div class="row">
  <div class="span4">
    <table class="table">
      <thead>
        <tr>
          <th>Raport body</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @raports.each do |raport| %>
          <tr>
            <td><i class= "icon-arrow-right"></i>
              <%= raport.body %></td>
            <td><%= raport.created_at %></td>
          </tr>
        <% end %>
      </tbody>  
    </table>
  </div>  
  <div class="span2">
    <%= @sensorL.sensor_name %> : <%= @sensorL.value %> <br/>
    <%= @sensorT.sensor_name %> : <%= @sensorT.value %>
  </div>
